h1{
    font-style: unset; color: brown; background-color: aquamarine;
}
h2{
    color:#daae0fcf; background-color: blueviolet;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif; color:darkblue
}
html{
    background-color: rgb(244, 172, 172);
}